
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
      body{

       display: flex;
        align-items: center;
      }
    </style>
  </head>
  <body>
    
  <section class="chat_section">
    <div class="brand">
      <img src="http://store-images.s-microsoft.com/image/apps.35367.13704239525856931.afd81672-2153-429c-b42e-d4b162febc39.8f8ed65d-8e08-4f9d-8e8c-09a429fe9730" height="30px" alt="">
     <h1>Wassup</h1>
    </div>
    
    <div id="msgarea"class="message_area">
<div class="servermsg">

    <div class="incomingmsg">

<p>Hello {{name}}</p>
    </div>

</div>

<div id="outg">

    <div class="outgoingmsg">

    </div>
</div>
    
    </div>
    <div class="" id="textarea">
      <textarea id="msg" class="col-11" cols="30" rows="1" placeholder="enter your message"></textarea>
      <p id="bt"class="btn btn-primary col-1"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="25" fill="currentColor" class="bi bi-send-fill" viewBox="0 0 16 16">
  <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083l6-15Zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471-.47 1.178Z"/>
</svg></p>
      </div>
  </section>
  </body>
  </html>
  
  
