


@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    

}
::-webkit-scrollbar{
    display: none;
}
    body {
       
        justify-content: center;
        min-height: 100vh;
        background: #F8F8F8;
        font-family: 'Roboto', sans-serif;
    }

    .username{
        font-size: 20px;
        padding-top: 20px;
        padding-left: 44px;


    }

   .username p{
        margin-botton:0px;
        /* margin-left:30px; */
        padding-left: 5px;
        /* padding-bottom: 5px; */
        font-size: 21px;
    }
    section.chat_section {
        /* position: relative; */
        width: 800px;
        overflow: hidden;
        /* height:400px; */
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
        /* border:1px solid black; */
        /* box-shadow: #333; */
        border: 1px solid rgb(153, 151, 151);
        border-radius: 20px;
        max-width: 90%;
        background: #fff;
    }
    .brand {
        padding: 20px;
        display: flex;
        align-items: center;
        padding-right: 0;
    }
    .brand p {
        text-transform: uppercase;
        font-size: 20px;
        color: #444;
        margin-left: 10px;
        margin-bottom: 0px;
    }
    .message_area{
        /* overflow:hidden; */
        /* position: relative; */
       
        height: 450px;
        padding: 16px;
        
        overflow-y: auto;
        padding-top: 20px;
        
       
    }
    
    .color{
        color:blue;
    }
    #nav-bar{
        
        border-bottom: 1px solid rgb(180, 176, 176);
        border-radius: 20px 20px 0px 0px;
        background: #f1f1f1;
    }
    
    .color p{
        margin-bottom:0;
    }
    .sbd{
        display: flex;
        flex-direction: column;
    }

    .outg{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        overflow: hidden;
    }

#brandouter{ display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
    overflow: hidden;
    padding-right: 0;

}
#loginsymbol{ display: flex;
    flex-direction: column;
    align-items:flex-start;
    overflow: hidden;
    padding-left: 0;

}

.time{
    font-size:10px;
}
.time p{
    margin-bottom:0;
}
.timeI{
    font-size:10px;
}
.timeI p{
    margin-bottom:0;
    margin-left:80px;
}

    textarea {

        width: 100%;
        /* border: none; */
       
        padding: 20px;
        font-size: 16px;
        outline: none;
        /* border-radius: ; */
        height: 100%;
        border-radius: 0px 0px 0px 20px;
        background: #f7f5f5;
        /* padding-left: ; */

        /* background: #d8d6d6; */
    }
    
    svg{
        margin-top:12px;
    }
    #bt{
        border-radius: 0px 0px 20px 0px;
        margin-bottom: 0px;
        /* justify-content: center; */
        /* height:60px; */
    }
    #textarea{
        display: flex;
        flex-direction: row;
        /* position: absolute; */
        /* background: #d8d6d6; */
        background: #f7f5f5;
        border: 1px solid rgb(153, 151, 151);
        border-radius: 0px 0px 20px 20px;
        
    }
    
    .message {
        padding: 20px; 
        border-radius: 4px; 
        margin-bottom: 40px;
        max-width: 300px;
        position: relative;
    }
    .servermsg{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .incomingmsg {
        /* justify-content: center; */
       /* width: 50%; */
       /* text-align: justify; */
       /* text-align:end; */
      
        text-align: justify;
        background: #8F8BE8;
        color: #fff;  
        margin: 5px 20px 0px 20px;
        
        border:1px solid #dbd8d8;
        border-radius: 10px;
        width: fit-content;
        max-width: 50%;
        /* display: inline-block; */
        /* width:200px ; */
    }
    .outgoingmsg {
       
        width: fit-content;
        max-width: 50%;
        overflow: hidden;
        
        
        /* width: 50%; */
        text-align: justify;
        /* text-align:stasrt; */
        
        /* text-align: end; */
        /* width:200px ; */
        background: #8F8BE8;
        color: #fff;  
        margin: 5px 20px 0px 20px;
        border:1px solid #dbd8d8;
        border-radius: 10px;
        /* position: absolute; */
        /* right: 0; */
        /* margin-left: auto; */
        
    }

    .incomingmsg p {
        padding:8px;
        margin-bottom: 0px;
        
    }

    .outgoingmsg p {
        padding:8px;
        margin-bottom: 0px;

    }
    .message h4 {
        position: absolute;
        /* top: -20px; */
        left: 0;
        color: #333;
        font-size: 14px;
    }